body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
}

.toast-custom {
  font-size: 14px !important;
  font-weight: 400 !important;
  background-color: #6c6c6c !important;
  font-family: 'Roboto', sans-serif !important;
  width: 200px !important;
  border-radius: 0 !important;
}
